* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* banner styles */
.banner-section {
    height: 90%;
    width: 100%;
    background: aqua;

}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding-top: 30px;
}

.banner-title {
    color: #272727;
    font-size: 75px;
    width: 710px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 640px;
    margin: 20px 0px 20px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    color: white;
    font-size: 20px;
    border: none;
}

/* featured styles */
.feature-heading {
    margin-top: 100px;
    color: #272727;
    font-size: 40px;
    text-align: center;
    margin: 100px 0px 25px;
}

.feature-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 35%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2%;
}

.box {
    width: 310px;
    margin-bottom: 70px;
}

.box1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 20px;
}

.box2 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-bottom: 20px;
}

.box3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-bottom: 20px;
}

.pink-flower {
    margin-top: 55px;
    margin-bottom: -5px;
    width: 220px;
    height: 320px;
}

.anchor-test {

    color: #272727;
    font-size: 20px;
   

}

.other-features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 200px;
    width: 80%;
    margin: auto;
    text-align: center;

}
/* sales style */
.highlight{
    color:#E55473 ;
}
.heading{
    color: #272727;
    font-size: 40px;
    margin-bottom: 25px;
}
.sales-details{
    color: rgba(39, 39, 39, 0.60);
text-align: left;
font-size: 18px;
width: 600px;
margin-bottom: 30px;
}
.sales{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-radius: 8px;
    /* background: rgba(229, 84, 115, 0.05);    */
    background: red;
    padding: 170px 300px;
    height: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
    
}
/* instagram styles */
.insta-heading{
    color: #272727;
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
}
.insta-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
width: 35%;
margin: auto;
text-align: center;
margin-bottom: 30px;
}
/* gallery styles */
.gallery{
display: flex;
justify-content: space-around;
align-items: center;
margin: auto;
width: 80%;
}
.gallary-pic{
    width: 350px;
height: 400px;
margin-top: 50px;
margin-bottom: 125px;
}


